
  <div class="hero-bg-2">
    <div class="headline">
      <h1 class="home2headline w-hidden-tiny">Find Local Divorce Lawyers<br/>in Your Area.</h1>
      <div class="subheaderhome2 ">Get the Best Lawyer on Your Case.</div>
      <a href="/quotes/new">
        <div class="home2button">Get a Quote</div>
      </a>

    </div>

  </div>

  <div class="section" style="background-color: white;">
    <div class="container-fluid">
      <h2 style="font-size: 30px; text-align: center">How It Works</h2>
      <p style="text-align: center">Search for the Best Divorce Lawyers in Your Area.</p>
      <div class="row snippet-row">
        <div class="col col-md-4">
          <div class="box" style = "text-align: center;">
            <img class="example-image" src="images/request.jpg">
            <div class="line-border"></div>
            <div class="snippet-text-section">
              <h3>Submit a Request</h3>
              <p style="font-style: italic">Our expert algorithms will analyze your request and submit it to the most qualified lawyers.</p>
              <div style="padding: 20px; text-align: center"><a class="signup_button" style="text-align: center" href="/quotes/new">Get a Quote</a></div>
            </div>
          </div>
        </div>
        <div class="col col-md-4">
          <div class="box" style = "text-align: center;">
            <img class="example-image" src="images/lawyer.jpg" >
            <div class="line-border"></div>
            <div class="snippet-text-section">
              <h3>Receive Quotes</h3>
              <p style="font-style: italic">Qualified Divorce Attorneys & Lawyers will look at your Submission and submit Quotes for their services.</p>
              <div style="padding: 20px; text-align: center"><a class="signup_button" style="text-align: center" href="/quotes/new">Get a Quote</a></div>
            </div>
          </div>
        </div>
        <div class="col col-md-4">
          <div class="box" style = "text-align: center;">
            <img class="example-image" src="images/divorce.jpg">
            <div class="line-border"></div>
            <div class="snippet-text-section">
              <h3>Communicate</h3>
              <p style="font-style: italic">Our internal system will allow you to communicate with Lawyers until your ready to move forward with your case.</p>
              <div style="padding: 20px; text-align: center"><a class="signup_button" style="text-align: center" href="/quotes/new">Get a Quote</a></div>
            </div>
          </div>
        </div>
      </div>
      
      </div>
  </div>
 <div class="publications row" style="margin-top: 25px; padding-top: 5px;">
    
    <span>Our Lawyers are Here to Give You The Best Divorce Advice During Difficult and Emotional Negotiations Throughout The US </span>
    <div style="text-align=center; margin-left: 10px; padding-top: 20px">
      <% @states.each_slice(5) do |ten_state| %>
        <div class="col-md-1">
        <% ten_state.each do |state| %>
          <p><%= link_to state.name, state_show_path(state.slug) %></p>
        <% end %>
        </div>
      <% end %>
  
    </div>

  </div>

    
  <div class="row"  style="background-color: white; margin-bottom: 0px">
    <div class="col col-md-6 pics">
      <div class="imagehome2a">
      </div>
    </div>
    <div class="col col-md-6" style="text-align: center;">
      <h3 style="padding-top: 45px">Get The Best Legal Advice.</h3>
      <p>Divorce Proceedings are Difficult and Emotional.  Our Lawyers are specifically curated to give you the best Legal Advice for your Jurisdiction </p>
      <a href="/quotes/new">
        <div class="home2buttonc">Get a Quote</div>
      </a>
    </div>
  </div>
  <div class="row" style="background-color: white;">
    <div class="pics col col-md-6 " style="text-align: center;">
      <h3 style="padding-top: 45px">We Simplify The Process.</h3>
      <p>Don't spend all your time visiting and speaking to lawyers.  We're a one-stop shop so you can quickly find your best lawyer and move on with your case. </p>
      <a href="/quotes/new">
        <div class="home2buttonc">Get a Quote</div>
      </a>
    </div>
    <div class="col col-md-6 pics">
      <div class="imagehome2a">
      </div>
    </div>
    
  </div>