  <div class="section footer-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <div class="footerlabel"><strong>Welcome to DivorceFox</strong></div><br/>
          <div>
            <p class="footer-text">We make creatilyng Divorce related websites a quick and painless process.<br/> <br/>Whether you're building a new practice or porting over an expensive monthly porgram.  We'll give you the best industry service available.<br/><br/>Give DivorceFox a Try! Risk Free.</p>
          </div>
        </div>
        <div class="col-md-2">
          <ol class="w-list-unstyled">
            
          </ol>
        </div>
        <div class="col-md-2">
          <ol class="w-list-unstyled">
            
          </ol>
        </div>
        <div class="col-md-2">
          <ol class="w-list-unstyled">
            
          </ol>
        </div>
        <div class="col-md-2">
          <ol class="w-list-unstyled">
            
          </ol>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="footer-text">©&nbsp;Divorce Fox. All Rights Reserved.</div>
  </div>
