  <div class="section footer-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <div class="footerlabel"><strong>Welcome to DivorceFox</strong></div><br/>
          <div>
            <p class="footer-text">We endeavor to make Divorce a quick and painless process. <br/>Whether you're going through an amicable divorce or a contested divorce we strive to make this experience as efficient as possible with the best divorce lawyers in your state.<br/><br/>Give DivorceFox a Try!</p>
          </div>
        </div>
        <div class="col-md-2">
          <ol class="w-list-unstyled">
            <li>
              <div class="footerlabel">Support</div>
            </li>
            <li><a class="footer-link" href="/faq">FAQ</a>
            </li>
            <li><a class="footer-link" href="/privacy">Privacy</a>
            </li>
          </ol>
        </div>
        <div class="col-md-2">
          <ol class="w-list-unstyled">
            <li>
              <div class="footerlabel">My&nbsp;Account</div>
            </li>
            <% if signed_in? %>
        
            <li><a class="footer-link" href="/logout">Logout</a></li>
             <li><a class="footer-link" href="/account">My Account</a></li>
            <% else %>
            <li><a class="footer-link" href="/login">Login</a></li>
            <%end%>
           
          </ol>
        </div>
        <div class="col-md-2">
          <ol class="w-list-unstyled">
            <li>
              <div class="footerlabel">Browse</div>
            </li>
            <li><a class="footer-link" href="/plans">Browse Lawyers</a>
            </li>
            <li><a class="footer-link" href="/previousboxes"></a>
            </li>
          </ol>
        </div>
        <div class="col-md-2">
          <ol class="w-list-unstyled">
            <li>
              <div class="footerlabel">Lawyers</div>
            </li>
            <li><a class="footer-link" href="/lawyers/websites">Get a Website</a>
            </li>
         
          </ol>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="footer-text">©&nbsp;Divorce Fox. All Rights Reserved.</div>
  </div>
